<h1>All Contacts</h1>


<% @@rolodex.contacts.each do |contact| %>
ID #: <%= contact.id %>
<br />
Name: <%= contact.first_name %> <%= contact.last_name %>
<br />
Email: <%= contact.email %>
<br />
Note: <%= contact.note %>
  <br />
<% end %> 