<div class="title">
  <h1>Edit an Existing Contact</h1>
</div>

<div class="form">
  
  <form action="/contacts/<%= @contact.id %>" method="post">
    
    <input type="hidden" name="_method" value="put">
    <input type="text" name="first_name" value="<%= @contact.first_name %>">
    <br />
    <input type="text" name="last_name" value="<%= @contact.last_name %>">
    <br />
    <input type="text" name="email" value="<%= @contact.email %>">
    <br />
    <textarea name="note" placeholder="Notes" value="<%= @contact.note %>"rows=5></textarea>
    <br />
    <input type="submit" name="Edit Contact">

  </form>
</div>